.fichesPatients .imgSheet {
    width: 40%;
    text-align: center !important;
}

.fichesPatients .imgOrd {
    width: 28%;
    text-align: center !important;
}

.fichesPatients .row {
    
    text-align: center !important;
}

.fichesPatients .patientName {
    font-weight: bold;
    margin-top: -8px;
    
    
}

.fichesPatients  .patientNameOrd{
    font-weight: bold;
    margin-top: 10px;
}

.fichesPatients .dateSheet {
    font-weight: bold;
    font-size: 13px;
    margin-top: -16px;
    
}

.fichesPatients .sheet {
    margin-top: 20px;
}


label{
    font-weight: 500;
}
.modalPatientFooter .btn-secondary {
    background-color: red;
    border: none;
    margin-right: 10px;
  
}


.modalPatientFooter .btn-primary {
    background-color: green;
    border: none;

}
.modalPatientFooter {
    text-align: right;
}

.fichesPatients .sheet a{
    text-decoration: none;
    color: #3C4B64;
}
.fiche .tete {
    margin-top: 60px;
    color: black;
    font-size: 19px
}

.fichesPatients .sheet:hover{
   transform: scale(1.04);
}
.fiche .information .place{
    text-align: right;
}
.fiche .information .personnel{
    text-align: left !important;
}
.fiche .information {
    margin-top: 30px;
    margin-bottom: 20px;
}
.fiche .information strong{
    font-size: 17px;
}
.faPrint:hover{
    cursor: pointer;

}
.fiche{
    margin-top: -30px;
}
.faPrint{
    font-size: 25px;

}

.fc-event:hover {
    background-color: red;
    border-color: red;
    cursor: pointer;
}
.fc-event{
    font-weight: 500;
}

.annulerBtn {
    background-color: green !important;
    border: none !important;
}

.ouiBtn {
    background-color: red !important;
    border: none !important;
}

.annBtn{
    background-color: red !important;
    border: none !important;
}
.addBtnEvent{
    background-color: green !important;
    border: none !important;
}
.msgDropDown{
    text-decoration: none !important;
    background-color: white !important;
}
.msgDropDown:hover{
    text-decoration: none !important;
    background-color: #F8F9FA !important;
}
.textMsg {
    color: black !important;
}
.iconPatientSend:hover{
    transform: scale(1.2);
}