.fichesPatients img {
    width: 40%;
    text-align: center !important;
}

.fichesPatients .row {
    
    text-align: center !important;
}

.fichesPatients .patientName {
    font-weight: bold;
    margin-top: -8px;
    
    
}

.fichesPatients .dateSheet {
    font-weight: bold;
    font-size: 13px;
    margin-top: -16px;
    
}

.fichesPatients .sheet {
    margin-top: 20px;
}


.modalPatient label{
    font-weight: 500;
}
.modalPatientFooter .btn-secondary {
    background-color: red;
    border: none;
    margin-right: 10px;
  
}

.modalPatientFooter .btn-primary {
    background-color: green;
    border: none;

}
.modalPatientFooter {
    text-align: right;
}

.fichesPatients .sheet a{
    text-decoration: none;
    color: #3C4B64;
}

.fichesPatients .sheet:hover{
   transform: scale(1.04);
}
.fiche .information .place{
    text-align: right;
}
.fiche .information {
    margin-top: 30px;
    margin-bottom: 20px;
}
.fiche .information strong{
    font-size: 17px;
}